* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #9C835F;
}
nav {
    display: flex;
    color: #F9B23D;
    padding-left: 37px;
    padding-top: 27px;
}

.logo {
    display: flex;
    width: 38%;
    list-style: none;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
}
.game {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    width: 50%;
   
}
.palyer1 {
    font-size: 36px;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    justify-content: space-evenly;
}

.COM {
    font-size: 36px;
    display: flex;
    flex-direction: column;
 
    align-items: center;
}
#vs {
    font-family: 'Open Sans', sans-serif;
    font-size: 144px;
    color: #BD0000;
    font-weight: 700;
}


.refresh {
    display: flex;
    justify-content: center;
}

.option :hover {
    cursor: pointer;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
    transform: scale(110%);
    -webkit-transform: scale(110%);
    -moz-transform: scale(110%);
    -ms-transform: scale(110%);
    -o-transform: scale(110%);
    -webkit-transition: cubic-bezier(0.215, 0.610, 0.355, 1);
    -moz-transition: cubic-bezier(0.215, 0.610, 0.355, 1);
}

#refresh:hover{
    cursor: pointer;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
    transform: scale(110%);
} 